[2022-06-29 15:00] albertvillanova opened #2 "Create labels"
Create GitHub labels as required for the agreed workflow:
- [x] candidate-dataset: once a user proposes a dataset
  - to be validated
- [x] dataset: once the proposed dataset is validated; this will be added to the project table
- [x] help-wanted: if the person adding the dataset needs help, has a question,...
- [x] once the person would like to notify that the dataset is already added?
  - ready-

[2022-06-29 15:03] albertvillanova opened #3 "Enable Discussions"
Enable GitHub Discussions for community general questions/answers, discussions, taking decisions...

[2022-06-29 15:07] albertvillanova opened #4 "Create Project table"
Create GitHub Project table to track the progress of the datasets being added.

Features:
- [ ] Self-assign issues: set assignee
- [ ] Ask for help: label with "help-wanted"
- [ ] Finished: notify the dataset has been added
  - To be confirmed

Fields:
- [ ] Priority: we can prioritize datasets according to their relevance/importance/interest
- [ ] Others?

[2022-06-29 15:50] #3 closed

[2022-06-30 07:24] albertvillanova opened #6 "Create Hub organization"
Create a organization on the Hub as a namespace to host all the added datasets.

[2022-06-30 07:25] albertvillanova commented on #6
DONE: https://huggingface.co/biglam

[2022-06-30 07:25] #6 closed

[2022-06-30 07:50] albertvillanova opened #7 "Create issue template chooser"
Create issue template chooser to:
- Enable blank issues: in case none of the templates is applicable
- Redirect to Discussions tab if it is a question

[2022-06-30 08:21] #7 closed

[2022-07-01 15:29] albertvillanova opened #9 "Create #self-assign command"
Create `#self-assign` command, so that people can assign an Issue to themselves.

[2022-07-01 15:35] albertvillanova opened #10 "Rename repo main branch"
Rename repository main branch to `main` (instead of current `master`).

Users will have to manually update their local repos:
[code]

[2022-07-01 15:37] albertvillanova commented on #10
Branch has been renamed: https://github.com/bigscience-workshop/lam/branches

Please update you local repo (see above commands).

CC: @davanstrien

[2022-07-01 15:37] #10 closed

[2022-07-01 15:46] davanstrien opened #11 "Populate wiki"
Populate wiki with initial guidance on adding datasets as part of the sprint.

[2022-07-01 15:52] davanstrien opened #12 "Create a discussion thread with meta resources for finding possible datasets"
Add some initial ideas for finding datasets that might be suitable in particular:
- overview papers that list other datasets
- repositories that hold data that is likely to be of interest
- Awesome lists

[2022-07-01 16:25] davanstrien opened #13 "populate README"

[2022-07-05 08:58] albertvillanova commented on #4
Project table draft: https://github.com/orgs/bigscience-workshop/projects/8

CC: @davanstrien

[2022-07-05 08:59] #9 closed

[2022-07-05 09:15] albertvillanova opened #16 "Create #help-wanted command"
Create `#help-wanted` command, so that participants can ask for help in an Issue page.

[2022-07-05 09:23] davanstrien commented on #4
This looks great - I think that it's nice to keep it fairly simple to avoid too much scrolling across the screen.

The only other possible field we could add is whether the dataset will be moved to a different organization once it is ready. My own feeling is that it's better to discuss that in the issue itself (or using the community tab on the dataset repository if it's already created).

[2022-07-05 10:10] davanstrien commented on #4
@albertvillanova only other field I thought of might be to flag whether a dataset has been documented or not.

I am keen to allow people to contribute to the hackathon by contributing dataset cards/docuemation. I can see this either being done as part of the process of adding data but could also be a separate activity. Maybe one way to track this is to have a label for `documented` and `in-need-of

[2022-07-05 10:32] davanstrien opened #18 "Create a joining link for BigLAM organization"
@albertvillanova are you happy for me to go ahead and create a direct joining link for the biglam org?

[2022-07-05 11:21] davanstrien commented on #18
We'll share a link to join with specific known people. For other people to join we will respond to join requests after they have introduced themselves on the discussion board.

[2022-07-05 11:21] #18 closed

[2022-07-05 11:35] albertvillanova opened #20 "Add direct link to project"
Add a direct link to the project BigLAM from this repository Projects tab: https://github.com/bigscience-workshop/lam/projects?type=beta

This repository has several tabs:
- Code
- Issues
- Pull requests
- Discussions
- Actions
- Projects: ADD link to BigLAM project to this tab
- Wiki
- ...

[2022-07-05 11:37] albertvillanova commented on #20
DONE:
- BigLAM project link: https://github.com/orgs/bigscience-workshop/projects/8
- has been added to this repository Projects tab: https://github.com/bigscience-workshop/lam/projects?type=beta

[2022-07-05 11:37] #20 closed

[2022-07-05 13:54] davanstrien opened #21 "Document checklist for reviewing candiate datesets"
Document the checklist of things to review before moving datasets from `candidate-dataset` to `dataset`.

[2022-07-05 13:56] albertvillanova opened #22 "Automate adding issues to project board"
Once an Issue is labeled with ["dataset"](https://github.com/bigscience-workshop/lam/labels/dataset), automate the addition of the Issue to the [BigLAM project board](https://github.com/orgs/bigscience-workshop/projects/8).

[2022-07-05 14:08] #22 closed

[2022-07-05 14:10] davanstrien opened #24 "Document dataset workflow for orgaznizers"
Document the steps involved from the maintainer side for managing the hackathon activities

- [x] review checklist see #21
- [ ] priority fields etc. to be manually added for project board
- [x]  documentation review (what to look for/suggestions etc.)
- [x] dataset review (what to look for/suggestions etc.)

[2022-07-05 14:11] albertvillanova opened #25 "Create #ready-for-review command"
Create `#ready-for-review` command, so that participants can label the Issue with ["ready for review"](https://github.com/bigscience-workshop/lam/labels/ready%20for%20review) to notify maintainers.

[2022-07-05 15:23] davanstrien commented on #4
`

Agree, I've updated guidance to reflect this (and will add this to the reviewer guidance too)

My feeling is that it makes sense to either discuss this in the issue (if it becomes obvious early on) or after the dataset has been created. At this point, it might be easier to also move the discussion to the dataset discussion tab.

That sounds good, I'll make sure to document this.

[2022-07-05 15:47] davanstrien opened #27 "Add dataset: cultural_heritage_metadata_accuracy"
### A URL for this dataset

https://figshare.com/articles/dataset/Annotated_dataset_to_assess_the_accuracy_of_the_textual_description_of_cultural_heritage_records/13359104

### Dataset description

From the description of the dataset:

This is a nice dataset for inclusion because it deals with a practical task that is of interest to many LAM organizations (assessing metadata quality). It is also a

[2022-07-06 15:25] clancyoftheoverflow commented on #27
Thank you @davanstrien Daniel for your suggestion. I have reviewed your candidate dataset and I added it to dataset for upload. 😄

[2022-07-06 16:03] davanstrien commented on #27
#self-assign

[2022-07-06 16:08] albertvillanova commented on #27
#self-assign

[2022-07-06 16:20] albertvillanova opened #28 "Allow trailing blank space in commands"
It is usual that participants add a trailing blank space after their command.

Commands should be made more robust and support this as well.

[2022-07-06 16:41] #28 closed

[2022-07-07 14:48] davanstrien commented on #27
#self-assign

[2022-07-07 16:18] davanstrien commented on #27
#ready-for-review

[2022-07-07 16:21] davanstrien commented on #27
I decided to implement this as a dataset script so I had more control over the loading process. I've also made an initial attempt at the DataCard based on the paper describing the dataset.

[2022-07-07 17:42] davanstrien opened #30 "Add dataset: brill_iconclass"
### A URL for this dataset

https://labs.brill.com/ictestset/

### Dataset description

A test dataset and challenge to apply machine learning to collections described with the [Iconclass](https://iconclass.org/) classification system.

[Iconclass](https://iconclass.org/) is a metadata standard used by some LAM institutions. This dataset is of particular interest for the following reasons:

- the

[2022-07-08 09:26] davanstrien commented on #4
I wonder if it's also nice to add a column for the 'difficulty' of adding a dataset? I think this won't always be possible to predict but some will be easier (single CSV file vs nested XML directories). My suggestion would be to have three options:
`easy`, `medium`, `hard`.

We could also add this at a later stage if we think it will be useful for participants.

[2022-07-08 14:57] cakiki commented on #30
Looks great! Removing the candidate tag :smiley:

[2022-07-08 15:01] cakiki commented on #27
This looks great; thank you for adding the dataset :heart:

[2022-07-08 15:45] davanstrien opened #32 "Add dataset: v4design_europeana_style_dataset"
### A URL for this dataset

https://doi.org/10.5281/zenodo.4896487

### Dataset description

### Dataset modality

Image

### Dataset licence

Other license

### Other licence

Creative Commons Attribution Non Commercial Share Alike 2.0 Generic

### How can you access this data

As a download from a repository/website

### Confirm the dataset has an open licence

- [X] To the best of my knowledge,

[2022-07-08 16:28] #27 closed

[2022-07-09 16:41] cakiki opened #33 "Add dataset: archives_parlementaires_"
### A URL for this dataset

https://frenchrevdata.github.io/

### Dataset description

- Companion repos: https://github.com/frenchrevdata
- Bigger Project: https://frda.stanford.edu/ (Has a photo project that could constitute another dataset)
- Page 1: https://frenchrevdata.github.io/
- Page 2: https://sul-philologic.stanford.edu/philologic/archparl/
- Page 3: https://frda.stanford.edu/french-rev

[2022-07-09 16:42] cakiki commented on #33
Processed version exists here: https://github.com/CogentMentat/FRevNCA_CuratedData, but not from the data creators.

[2022-07-09 16:44] cakiki commented on #33
@davanstrien The data itself will be `TEI XML`; what sort of loading script do you reckon we should create for that?

[2022-07-09 16:55] cakiki opened #34 "Add dataset: images_de_la_revolution_francaise"
### A URL for this dataset

https://exhibits.stanford.edu/frenchrevolution

### Dataset description

- Parent website: https://frda.stanford.edu/

Every photo has a link to a resource URI on the purl.stanford.edu domain e.g.: https://purl.stanford.edu/qt429tp5691

Access field says:

### Dataset modality

Image

### Dataset licence

_No response_

### Other licence

_No response_

### How can you

[2022-07-11 08:47] davanstrien commented on #33
@cakiki thanks for suggesting! I think for TEI it depends a little bit on how many of the fields we want to extract. If we want to keep more true to the original we probably want a custom datasets script to parse the XML into a nice structure. One potential issue with that is it can be quite slow. Depending on how much that becomes an issue we could also look into creating a 'preloaded' version. I

[2022-07-11 08:50] cakiki commented on #33
@davanstrien  Ah good thinking; maybe two configs then? One for people who only care about text, and another (closer to original) structured version?

(This issue will probably come up more often so we might want to have guidelines)

[2022-07-11 09:06] davanstrien commented on #34
Looks good. We could maybe also think about adding some more general guidance on working with IIIF images/manifests. I have some code for parsing manifest which I can try and tidy up a bit.

[2022-07-11 09:10] davanstrien opened #35 "Add dataset: mps_manuscript_handwriting_dating"
### A URL for this dataset

  https://doi.org/10.5281/zenodo.1194357

### Dataset description

This is a dataset

There are other similar datasets for this task so this might also be useful in combination with other datasets.

### Dataset modality

Image

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access this data

As a do

[2022-07-11 09:23] davanstrien opened #36 "Add dataset: ukiyo_e_faces"
### A URL for this dataset

https://www.justinpinkney.com/ukiyoe-dataset/

### Dataset description

### Dataset modality

Image

### Dataset licence

Creative Commons Attribution Share Alike 4.0 International

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### Confirm the dataset has an open licence

- [X] To the best of my knowledge, t

[2022-07-11 09:33] davanstrien opened #37 "Add dataset: beyond_words_coco"
### A URL for this dataset

https://github.com/LibraryOfCongress/newspaper-navigator/tree/master/beyond_words_data

### Dataset description

This is a dataset containing crowdsourced annotastions of the bounding boxes of different types of 'visual content in historic US newspapers. It can be used to train object detection models to extract visual content from historic newspaper collections.  Break

[2022-07-11 09:52] davanstrien commented on #30
#self-assign

[2022-07-11 10:33] davanstrien opened #38 "Add dataset: atypical_animacy"
### A URL for this dataset

https://doi.org/10.23636/1215

### Dataset description

### Dataset modality

Text

### Dataset licence

Creative Commons Zero v1.0 Universal

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### Confirm the dataset has an open licence

- [X] To the best of my knowledge, this dataset is accessible via an open l

[2022-07-11 10:44] davanstrien commented on #21
Initial guidance documented in https://github.com/bigscience-workshop/lam/wiki/organizer_guidance

[2022-07-11 10:44] #21 closed

[2022-07-11 10:44] davanstrien commented on #24
Initial guidance https://github.com/bigscience-workshop/lam/wiki/organizer_guidance

[2022-07-11 10:44] #24 closed

[2022-07-11 10:45] davanstrien commented on #12
Initial thread here: https://github.com/bigscience-workshop/lam/discussions/31

[2022-07-11 10:45] #12 closed

[2022-07-11 10:45] davanstrien commented on #11
Initial wiki guidance here: https://github.com/bigscience-workshop/lam/wiki

[2022-07-11 10:45] #11 closed

[2022-07-11 10:54] davanstrien opened #39 "Add dataset: impresso__historical_newspaper_article_segmentation"
### A URL for this dataset

https://doi.org/10.5281/zenodo.3706863

### Dataset description

This dataset contains annotations of newspapers with article segmentation. Segmentation of historic newspaper articles is an ongoing area of work in both research and practical LAM settings. This dataset has the possibility to be combined with other datasets to create larger datasets for training or evalua

[2022-07-11 14:04] davanstrien opened #40 "add guidance on adding files and a dataset script"
There are various times when you may want to upload files to the hub but have some more control over how the dataset is loaded. This can be relevant:
- when the original host may prefer not to have the additional traffic from downloads
- the original data is in a format that is not amenable to streaming/computational access or is very slow to process/load
- the dataset contains complex configurati

[2022-07-11 15:11] davanstrien opened #41 "Add dataset: royal_society_corpus"
### A URL for this dataset

https://fedora.clarin-d.uni-saarland.de/rsc/

### Dataset description

This offers an interesting dataset of text from the scientific domain across a long time period (1665-1869). Additionaly the dataset contains a range of annotations:

Detailed information on the linguistic and structural annotation of the RSC can be found [here](https://fedora.clarin-d.uni-saarland.d

[2022-07-11 17:37] shamikbose commented on #35
#self-assign

[2022-07-11 19:06] thebooort opened #42 "Add dataset: Spanish_Golden_Age_Sonnets"
### A URL for this dataset

https://github.com/bncolorado/CorpusSonetosSigloDeOro

### Dataset description

This corpus comprises sonnets written in Spanish between the 16th and 17th centuries.
Each sonnet has been annotated in XML in accordance with the TEI standard. Besides the header and structural information, each sonnet includes the formal representation of each verse’s particular metrical p

[2022-07-11 19:34] shamikbose commented on #38
#self-assign

[2022-07-11 19:47] davanstrien opened #43 "Add dataset: icfhr_2016"
### A URL for this dataset

https://zenodo.org/record/5526880

### Dataset description

### Dataset modality

Image

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### Confirm the dataset has an open licence

- [X] To the best of my knowledge, this dataset is accessibl

[2022-07-11 19:50] davanstrien opened #44 "Add dataset: icdar_2017_medieval_hndwriting_classification"
### A URL for this dataset

https://zenodo.org/record/5527690

### Dataset description

### Dataset modality

Image

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### Confirm the dataset has an open licence

- [X] To the best of my knowledge, this dataset is accessibl

[2022-07-11 19:56] davanstrien opened #45 "Add dataset: early_printed_books_font_detection"
### A URL for this dataset

https://zenodo.org/record/3366686

### Dataset description

This dataset offers an image classification dataset that has potential implications for other downstream tasks such as OCR recognition.

A related paper [Dataset of Pages from Early Printed Books with Multiple Font Groups](https://dl.acm.org/doi/10.1145/3352631.3352640)

### Dataset modality

Image

### Dataset

[2022-07-11 21:48] shamikbose commented on #38
I implemented this as a script to preprocess some of the information that was added to annotate the data. The data aso includes offsets of the target text in the sentence, which was missing from the original dataset. All offsets have been tested to make sure they are the same as the target text

[2022-07-11 21:49] shamikbose commented on #38
#ready-for-review

[2022-07-12 07:39] albertvillanova commented on #38
Thanks for your contribution @shamikbose.

First of all: could you please transfer the repo to the biglam organization namespace?
- We are adding all datasets under that org
- We have updated the Wiki docs to explain this better
- To do the transfer, please:
  - Go to https://huggingface.co/datasets/shamikbose89/atypical_animacy/settings
  - Under *Rename or transfer this dataset*:
     - As "New

[2022-07-12 09:22] davanstrien commented on #42
@thebooort  thanks for suggesting this. Looks great. We're likely to have quite a few source datasets with TEI. I didn't look closely at the schema for this but one option that could be interesting to explore would be to support one config that is focused on capturing more of the metadata captured in TEI and one focused on the text. Feel free to shout if you decide to work on this and want any inp

[2022-07-12 10:20] davanstrien opened #46 "Add dataset: digital_libraries_document_types"
### A URL for this dataset

https://doi.org/10.6084/m9.figshare.4834229.v2

### Dataset description

This is mainly of interest as a tabular dataset since the available fields in the datasets are derived features from the original textual data.

### Dataset modality

Other

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access

[2022-07-12 12:26] davanstrien commented on #30
#ready-for-review

[2022-07-12 12:29] davanstrien commented on #30
I have written a script for loading this one: https://huggingface.co/datasets/biglam/cultural_heritage_metadata_accuracy

@albertvillanova I didn't make this one streaming. I did have a version that supported streaming but it was quite a bit slower to load. It's possible I missed something obvious though.

I used the following to generate examples in the streaming version:
[code]
My own feeling is

[2022-07-12 12:59] shamikbose commented on #38
@albertvillanova The transfer is completed. The new link is https://huggingface.co/datasets/biglam/atypical_animacy

[2022-07-12 13:43] cakiki commented on #33
#self-assign

[2022-07-12 14:00] thebooort commented on #42
Yes! I will be working in it to add it. I will start reading all the docs on the academic paper they provide, and will move from there. Will ask u any doubt I found along the way ! :)

[2022-07-12 14:31] albertvillanova commented on #38
Thanks for the addition and the transfer.

The script looks awesome.

Just a last request: would you mind to put the YAML tags in the header of the README file?
- You can use this Space to generate the YAML tags: https://huggingface.co/spaces/huggingface/datasets-tagging
- Once created, just copy-paste the YAML tags (appearing on the right column) to the beginning of the README file, between `---`

[2022-07-12 14:34] albertvillanova commented on #38
I am also re-running the refresh of the Preview to make it appear nice (I think the transfer broke it).

[2022-07-12 14:59] shamikbose commented on #38
@albertvillanova The YAML tags have been added. The Preview is back up. Thanks for re-running it

[2022-07-12 15:00] #38 closed, assigned to shamikbose

[2022-07-12 15:46] shamikbose commented on #41
#self-assign

[2022-07-12 15:57] davanstrien commented on #38
Thanks so much for adding this dataset @shamikbose 🚀

[2022-07-12 16:17] albertvillanova commented on #38
@shamikbose I have just noticed this among the YAML tags:
[code]

I think this is wrong. As this dataset is not in [Papers with Code](https://paperswithcode.com/), the tag should be set to `null` instead:
[code]

[2022-07-12 16:24] shamikbose commented on #38
@albertvillanova I made the change. I think it was copied over from a previous YAML I was trying to update

[2022-07-12 23:11] shamikbose commented on #41
@davanstrien, there seems to be a problem with the data
[code]
The `<s>` tags are supposed to be inisde `<page>` tags, but as you can see above, the last line is a closing `<s>` tag without the opening one. As a result, both `xml` and `bs4' fail to parse it properly

I changed it to look like this:
[code]
and then it parses that part correctly

[2022-07-13 09:35] davanstrien commented on #41
I'll take a quick look at this today. One option might be to use a slightly cruder approach to parsing. I'll play around a bit and let you know how I get on with that.

[2022-07-13 09:35] versae opened #48 "Add dataset: nb-tale"
### A URL for this dataset

https://www.nb.no/sprakbanken/ressurskatalog/oai-nb-no-sbr-31/

### Dataset description

NB Tale is a basic acoustic-phonetic speech database for Norwegian. The database contains recordings of 380 speakers from 24 different dialect areas. The database is produced for the National Library of Norway by Lingit AS.

The data are divided into three modules:

1) Manuscript-re

[2022-07-13 09:50] davanstrien commented on #48
@versae this looks great, thanks for suggesting it!

[2022-07-13 18:10] Skorkmaz88 opened #52 "Add dataset: [WWI_documents_dataset]"
### A URL for this dataset

https://rdf.muninn-project.org/

### Dataset description

This dataset is actually about WWI archives, specifically documents subcategory from the store above,  the data is in linked format. Currently I am prototyping  a converter for tabular format by consuming sparql endpoint of the archieve. As result final output will name, label, primary topic of document, scanned

[2022-07-13 18:34] Skorkmaz88 commented on #52
#self-assign

[2022-07-14 08:22] davanstrien opened #53 "Add dataset: hansard_speech_1970_2020_odell"
### A URL for this dataset

https://evanodell.com/projects/datasets/hansard-data/

### Dataset description

This dataset offers a corpus of spoken English across the period 1970-2020, providing a possible resource for training and/or evaluating historic language models. The dataset also provides additional information about the speaker.

Since this is a parsed version of a dataset it may be easier

[2022-07-14 11:34] shamikbose commented on #42
@thebooort Are you working on this dataset? I would like to add this dataset if you aren't working on it already

[2022-07-14 13:23] davanstrien opened #54 "Add dataset: odeuropa_benchmarks_and_corpora"
### A URL for this dataset

https://github.com/Odeuropa/benchmarks_and_corpora

### Dataset description

This dataset

This offers an exciting dataset of annotations related to olfactory (smell) information in historical documents. The dataset is interesting because it covers a range of periods but also offers the possibility of utilising ml for a different task than standard entity recognition ta

[2022-07-14 13:26] davanstrien commented on #54
I am clarifying the licence for this, see https://github.com/Odeuropa/benchmarks_and_corpora/issues/3 so would hold off working on this until we've got that info back.

[2022-07-14 13:32] davanstrien opened #55 "Add dataset: old_bailey_proceedings_online"
### A URL for this dataset

https://www.dhi.ac.uk/data/oldbailey

### Dataset description

This dataset represents an interesting text corpus for a number of reasons:

- it covers a long time period
- the text data represents court transcriptions of court proceedings. As a result, the text in the corpus can be considered somewhat closer to spoken language for the time period and also represents la

[2022-07-14 15:20] shamikbose commented on #55
#self-assign

[2022-07-14 15:55] clancyoftheoverflow opened #56 "Add dataset: lampeter_corpus"
### A URL for this dataset

https://ota.bodleian.ox.ac.uk/repository/xmlui/handle/20.500.12024/3193

### Dataset description

The Lampeter Corpus of Early Modern English Tracts is a collection of texts on various subject matter published between 1640 and 1740 – a time that is marked by the rise of mass publication, the development of a public discourse in many areas of everyday life and, last but

[2022-07-14 15:57] clancyoftheoverflow opened #57 "Add dataset: lancaster_newsbooks"
### A URL for this dataset

https://ota.bodleian.ox.ac.uk/repository/xmlui/handle/20.500.12024/2531

### Dataset description

The Lancaster Newsbooks Corpus contains two collections of English newsbooks from 1654 to 1655.

Size: 3,001,604 words.

### Dataset modality

Text

### Dataset licence

Other license

### Other licence

Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0)

#

[2022-07-14 16:01] clancyoftheoverflow opened #58 "Add dataset: clmet_3-1"
### A URL for this dataset

http://fedora.clarin-d.uni-saarland.de/clmet/clmet.html

### Dataset description

The Corpus of Late Modern English Texts, version 3.1 (CLMET3.1) is a principled collection of public domain texts drawn from various online archiving projects. In total, the corpus contains some 34 million words of running text. It incorporates CLMET, CLMETEV, and CLMET3.0, and has been co

[2022-07-14 16:18] Skorkmaz88 commented on #40
- When the contributor decides to remove a specific instance from the data
- Some instances in the dataset may have different license than others, e.g. one instance may be in public domain and allowed to use for commercial project, another one isn't

[2022-07-14 16:23] davanstrien commented on #58
This looks amazing!

[2022-07-14 16:23] davanstrien commented on #57
looks great!

[2022-07-14 16:24] davanstrien commented on #56
thanks for suggesting!

[2022-07-14 17:03] cakiki commented on #33
@kmcdono2 That would be great! (I'm also happy to sit this one out if you'd like to take ownership of the issue)

[2022-07-14 17:53] epoz commented on #30
BTW, I am not affiliated with Brill any more, so my contact address should be updated. You can use info@iconclass.org for testset related matters.

[2022-07-14 17:54] epoz commented on #30
Is it an idea to add the [core data of the Iconclass system](https://github.com/iconclass/data) as a dataset?

[2022-07-14 17:57] davanstrien commented on #30
I will update that 🙂

[2022-07-14 18:01] davanstrien commented on #30
That would be great. I had originally planned to also add a configuration of this dataset that had the 'translation' of the iconclass labels i.e. turing the iconclass code into the associated description. I know there used to be a Python library that allowed for these queries but I think it's no longer maintained? Adding the core data as a dataset would both be nice as its own dataset but could al

[2022-07-14 18:06] epoz commented on #30
Ouch, yes. [that Python library](https://pypi.org/project/ICONCLASS/) was also made by me, but has terrible (read: non-existent) documentation.
Would love to update it, but there have been other things clamouring for attention.

If there is interest in using it, will galvanise me to give it some spit-and-polish.

[2022-07-14 18:31] kmcdono2 commented on #33
@cakiki  I'm not here to step on your feet, but absolutely happy to help. This dataset from the PNAS [paper](https://www.pnas.org/content/115/18/4607.short) is a subset of the larger FRDA AP dataset available from Stanford. Perhaps useful to load both of them! I could start a new ticket for the other dataset (which covers a longer period, but has not been curated to the same extent as this one).

[2022-07-14 18:33] kmcdono2 commented on #33
PS - the FRDA Images dataset would be GREAT to add as well! I can ask about access to that in bulk.

[2022-07-14 23:05] shamikbose commented on #55
@davanstrien For this dataset, what would be ideally looking to have? There's a lot of extraneous information in these XMLs. Also, what task would this text be used for? There's some NER in the passages
[code]
but what else would this dataset be used for?

[2022-07-15 11:41] epoz commented on #30
I have updated the location of this testset, it is now on:
https://iconclass.org/testset/

[2022-07-15 11:49] davanstrien commented on #30
Thanks for letting me know — just updated the URLs.

[2022-07-15 12:16] davanstrien commented on #55
I think there are a few potential use cases would be for training and evaluating language models. For this, I think the main features that could be useful to have is the text and associated dates.

NER would also be a great use case for this, especially as it is 'clean' text rather than OCR which makes it easier to perform an evaluation of the performance of OCR methods across different time perio

[2022-07-15 14:21] davanstrien opened #59 "Add dataset: nls_chapbooks_illustrations"
### A URL for this dataset

https://gitlab.com/vgg/nls-chapbooks-illustrations

### Dataset description

This proposed dataset consists of a few components:

- [Chapbooks printed in Scotland](https://data.nls.uk/data/digitised-collections/chapbooks-printed-in-scotland/): a dataset consisting of "more than 3,000 chapbooks printed in Scotland. They form part of the Lauriston Castle Collection, which

[2022-07-15 15:16] davanstrien opened #60 "Add dataset: berlin_state_library_ocr_fulltext"
### A URL for this dataset

https://zenodo.org/record/3257041

### Dataset description

This dataset offers a large corpus of texts across a range of time periods (1470-1945) and a range of languages. The breakdown of the top 20 languages (by page):

|    |    language |
|:---|------------:|
| de | 0.690211    |
| nl | 0.103814    |
| en | 0.100298    |
| fr | 0.0457785   |
| es | 0.0145541   |
|

[2022-07-15 15:22] davanstrien commented on #60
My recommendation for this dataset would be to use the CSV file for loading the text data. Although this isn't compressed, it should be easy to make this streamable. It also includes additional information about the OCR confidence for each filter, which people might want to filter on when training the language models.

In addition, it would be nice to have the language info. This is stored in a pi

[2022-07-15 16:26] shamikbose commented on #55
Sounds good! I can leave the dates as is and they can be parsed by whoever is using it

It shouldn't be too difficult to implement. I will try it out and share them to my HF account and then transfer it to bigLAM after someone's had a chance to look at it

[2022-07-15 18:26] davanstrien commented on #55
That sounds great. Thanks for working on this 🤗

[2022-07-16 09:55] davanstrien opened #61 "Add dataset: gallica_literary_fictions"
### A URL for this dataset

https://doi.org/10.5281/zenodo.4751204

### Dataset description

This dataset offers a large corpus of texts covering a broad time period that could contribute to a training dataset for historic language models. The data also includes easy methods for linking to the page image/other metadata.

### Dataset modality

Text

### Dataset licence

Creative Commons Zero v1.0 U

[2022-07-16 09:57] davanstrien commented on #61
This dataset has a lot of links. To avoid having to manually copy all of these, you can make use of the Zendo API: https://developers.zenodo.org/#representation35 which gives a quick way to gather all the URLs/filenames.

[2022-07-16 20:54] shamikbose commented on #55
#ready-for-review

[2022-07-16 20:55] shamikbose commented on #55
@davanstrien This dataset is now live at https://huggingface.co/datasets/shamikbose89/old_bailey_proceedings. Can you take a look to check if it looks alright and then I can transfer it to biglam? Thanks!

[2022-07-16 22:13] shamikbose commented on #58
#self-assign

[2022-07-17 10:55] davanstrien commented on #55
Thanks for this! I am AFK most of today, but I'll take a look at this tomorrow 🙂

[2022-07-17 23:31] shamikbose commented on #58
#ready-for-review

[2022-07-17 23:32] shamikbose commented on #58
@clancyoftheoverflow @davanstrien This dataset is live at https://huggingface.co/datasets/shamikbose89/clmet_3_1

[2022-07-18 02:54] shamikbose commented on #56
#self-assign

[2022-07-18 12:32] davanstrien opened #64 "Add dataset: swiss_federal_council_handwritten_text_recognition"
### A URL for this dataset

https://doi.org/10.5281/zenodo.4746342

### Dataset description

### Dataset modality

Mixed

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### Confirm the dataset has an open licence

- [X] To the best of my knowledge, this dataset is acce

[2022-07-18 14:30] davanstrien commented on #58
@shamikbose thanks, I'll aim to review this today or tomorrow. @clancyoftheoverflow you probably know this dataset better than me, so feel free to also review it.

[2022-07-18 15:38] davanstrien opened #65 "Add dataset: diorisis_ancient_greek_corpus"
### A URL for this dataset

https://figshare.com/articles/dataset/The_Diorisis_Ancient_Greek_Corpus/6187256/1

### Dataset description

The dataset includes annotations for PoS

### Dataset modality

Text

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### Confirm the

[2022-07-18 21:45] shamikbose commented on #56
@davanstrien @clancyoftheoverflow This dataset is live at https://huggingface.co/datasets/shamikbose89/lampeter_corpus

[2022-07-19 01:44] shamikbose commented on #57
#self-assign

[2022-07-19 17:21] shamikbose commented on #57
@clancyoftheoverflow @davanstrien This dataset doesn't seem to have any labels. Can you clarify what the features of this dataset should be?

[2022-07-19 19:57] shamikbose commented on #57
#ready-for-review

[2022-07-19 19:58] shamikbose commented on #57
@clancyoftheoverflow @davanstrien In the absence of labels in this dataset, it only loads the `title`, `text` and `id` fields. It's live here: https://huggingface.co/datasets/shamikbose89/lancaster_newsbooks Please let me know if it needs any additional information

[2022-07-20 02:54] shamikbose commented on #46
For this dataset, if you want to access the actual articles, it looks like you have to register for a Slideshare API (which might be free) and the Core API which has some [terms of use](https://core.ac.uk/terms). Is that still okay to use?

[2022-07-20 16:01] shamikbose commented on #43
#self-assign

[2022-07-20 16:11] davanstrien commented on #55
Hi @shamikbose, thanks so much for working on this. Sorry for the slow response with this. I just caught covid, so I'm unable to work much.

Some initial comments:

- I made a small suggestion in a pull request to fix the `en` language tag
- On https://huggingface.co/datasets/shamikbose89/old_bailey_proceedings/blob/main/old_bailey_proceedings.py#L145, I think it would be better to just log an exc

[2022-07-21 02:29] shamikbose commented on #53
#self-assign

[2022-07-21 12:37] davanstrien opened #66 "Add dataset: yalta_ai_segmonto_manuscript_dataset"
### A URL for this dataset

https://zenodo.org/record/6814770

### Dataset description

This dataset contains data to train a segmentation model for historic manuscripts and early printed books. Helpfully data is also included in YOLOv5 format.

### Dataset modality

Image

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access

[2022-07-21 12:38] davanstrien opened #67 "Add dataset: yalt_ai_tabular_dataset"
### A URL for this dataset

https://zenodo.org/record/6827706

### Dataset description

### Dataset modality

Image

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### Confirm the dataset has an open licence

- [X] To the best of my knowledge, this dataset is accessibl

[2022-07-21 14:26] davanstrien commented on #55
I've made a few extra changes to the README now. I'll close this for now since I've put a note on the README asking for any suggestions for other configurations in the discussion section of this dataset. Thanks again @shamikbose!

[2022-07-21 14:26] #55 closed

[2022-07-21 16:14] #30 closed

[2022-07-21 16:15] davanstrien commented on #66
This discussion/example script is likely to be helpful for preparing this one: https://github.com/huggingface/datasets/issues/4618

[2022-07-21 19:35] davanstrien commented on #46
Good spot, I'll have a bit more of a think about this one, but this one is probably a lower priority given that getting at the actual data will be a bit more convoluted. I'll take this off the backlog for now.

[2022-07-21 20:28] davanstrien opened #68 "Add dataset: contentious_contexts_corpus"
### A URL for this dataset

https://github.com/cultural-ai/ConConCor

### Dataset description

This dataset contains extracts from historical newspapers which have been containing keywords of potentially contentious words (according to present-day sensibilities). The dataset contains multiple annotations per instance, given the option to quantify agreement scores for annotations.

This dataset is

[2022-07-21 20:44] shamikbose commented on #53
@davanstrien I'm trying to write a dataloader for this, but it seems to be missing some files in Zenodo
From the homepage:
[code]

In Zenodo. however, only these three files exist:
1. hansard-speeches-v310.csv.zip
2. hansard-speeches-v310.rds
3. parliamentary_posts.json

The `government_posts`, `opposition_posts` files seem to be missing from the collection

[2022-07-21 20:56] davanstrien commented on #53
@shamikbose, I'm pinging @evanodell, who created this version of the dataset, to see if they can help with this.

If not, I can have a look into returning the code (https://github.com/evanodell/hansard-data3) used to generate this dataset initially.

[2022-07-21 21:05] shamikbose commented on #53
Hoping Evan can help us out here. I tried looking at the code, but it's all in R and I don't do R on principle 😄 (P.S. I'm just kidding. R is fine)
In the meantime, I'll get the CSN and the other JSON parsed and ready to go

[2022-07-22 07:55] giganttheo opened #69 "Add dataset: [old_book_illustrations]"
### A URL for this dataset

https://www.oldbookillustrations.com/

### Dataset description

The Old Book Illustrations website contains a dataset of illustrations scanned from old books. Each illustration page also contains infos about the illustrator, the illustration and the book it's taken from as well as a title, a description, and a few keywords. As of today, the website contains 3150 images.

[2022-07-22 21:16] shamikbose commented on #53
I have got the CSV and the JSON parsed properly. I do have a question, though. This is a very large dataset (2.7 M entries). How do I write the loader to be streaming? Should I specify a "sample" config for maybe the first 2000 samples?

[2022-07-23 22:54] shamikbose commented on #53
Update:
@davanstrien The loader is now live at https://huggingface.co/datasets/shamikbose89/hansard_speech
If the `government_posts` and `opposition_posts` files become available, adding them is going to be very straightforward. I think the dataset can still be used without them in the meantime

[2022-07-23 22:56] shamikbose commented on #68
#self-assign

[2022-07-24 09:26] davanstrien commented on #59
Initial data loading script here: https://huggingface.co/datasets/biglam/nls_chapbook_illustrations. Needs some tidying still. In contact with authors/NLS about working on a datacard.

[2022-07-24 10:31] davanstrien commented on #53
I get a value error when I try and load this

[code]
I assume that the error comes from incorrect upstream data (the time isn't possible)?

[2022-07-24 13:05] shamikbose commented on #53
Interesting. I’m AFK for most of the day, but I’ll look into it as soon as
I can. Any suggestions on how to handle situations like this?

On Sun, Jul 24, 2022 at 6:31 AM Daniel van Strien ***@***.***>
wrote:

--

*-Regards,  Shamik Bose*

[2022-07-25 09:56] davanstrien commented on #53
I think it depends on how often this occurs. I feel that if it's only once or twice, those values would be to wrap this section in a try/except block and make the values None if parsing fails. If it happens a lot, I'd be tempted to see if I can determine where the error comes from upstream. WDYT?

[2022-07-25 10:15] davanstrien commented on #69
@giganttheo, thanks for suggesting this. I think it's a super interesting dataset, but I have a few questions about how we could access this dataset. On the [terms of use](https://www.oldbookillustrations.com/terms-of-use/) they say:

I think a scraping script would likely fall under this category. I suggest that it might be worth reading out to the website creators to ask if they would be keen to

[2022-07-25 14:10] davanstrien opened #70 "Add dataset: europeana_newspapers"
### A URL for this dataset

https://pro.europeana.eu/page/iiif#download

### Dataset description

This is a dataset of historic newspapers digitised by various national libraries and made available via the Europeana platform.

### Dataset modality

Text

### Dataset licence

Other license

### Other licence

Public Domain Mark for full text and http://creativecommons.org/publicdomain/zero/1.0/ for

[2022-07-25 14:11] davanstrien commented on #70
I suggest leaving this as a candidate dataset until we have worked out the best approach. Tagging others who have been discussing this: @bmschmidt @stefan-it

[2022-07-25 14:18] davanstrien commented on #70
## Data access:

Currently, we have a few options for accessing the data:

- use the data from https://pro.europeana.eu/page/iiif#download
- use the API for access (do this once and save output)
- use the API inside the loading script (I think this is only a good idea if we're sure more titles will be added regularly)

## Sharing the data:

Since this is a large corpus, and there may also be a lit

[2022-07-25 14:27] bmschmidt commented on #70
Could you explain the notion of a "loading script"? I don't think I understand how the huggingface model--which seems to basically organized hierarchically--works with something like this.

Especially around what seems like the fundamental question which is file ordering. Like I think it makes sense to have files be individual newspapers (or chronological subsets of newspapers), but that means the

[2022-07-25 14:44] davanstrien commented on #70
This depends a bit on how we decide to distribute the files. But one option is to have a [dataset_script](https://huggingface.co/docs/datasets/dataset_script), which allows some control over what parts of the data are loaded. For example, if we have a bunch of files with a naming structure like `TITLE_ID_YEAR.arrow`, a script could be used to only load the requested parts. This means in practice w

[2022-07-25 15:06] bmschmidt commented on #70
It seems like it would be possible to create the dataset according to reasonable chunkings and then afterwards write any post-hoc loading scripts that seemed like they'd be especially important? ("Austrian Papers," "German-language papers", "Communist papers", "Papers that published in the 1870s," etc.?)

FWIW, my solution for this was to break up newspapers into multiple files only when they got

[2022-07-25 16:53] davanstrien commented on #70
I guess we could also use bigger chunks if we're going to end up with some very small slices. This is probably a little unavoidable for titles with very few issues but perhaps using 20 year chunks or larger would make sense for these titles?

Agree with this. I also feel uneasy using suggested article segmentation information since the quality of that can be so variable and will vary between title

[2022-07-25 17:45] evanodell commented on #53
Been a few years since I worked on this but I'll see what I can remember. The upstream data has weird errors like '1979-05-18 24:11:00' because of how the UK parliament would time debates. The date is the start of the parliamentary day, and debates carrying on past midnight would get recorded as still being on the date the sessions started.

I think the longest is ~48 hours.

[2022-07-25 19:08] shamikbose commented on #53
Hey @evanodell Thanks for responding to this.

Oh wow! Okay. Do you know if they are in the JSON file the same way? I tried to look for the data in the JSON file, but couldn't find it I also found some inconsistencies in the time field where some are in the format HH:MM and others are in the format HH:MM:SS, but the JSON files don't have the same entries. Do all the `date` values in the JSON file

[2022-07-25 20:33] shamikbose commented on #53
@evanodell Do you know if there should be other files at the zenodo link? Re: https://github.com/bigscience-workshop/lam/issues/53#issuecomment-1191916188

[2022-07-26 00:05] shamikbose commented on #53
@davanstrien I updated the dataset loader in my profile with changes to the way the values were being compared. It's much faster this way and all of them loaded without any issue

[2022-07-26 11:06] stefan-it commented on #70
Hi guys!

I worked with the Europeana Dumps last week/weekend. Here are some obvervations:

The language information is stored in `dc:language` from `edm:ProvidedCHO` attribute. Normally, you would expect a string or an array of languages. But... it is mixed. For some issues, it is a string and for some it is an array. So in our final metadata representation we should use an array. And the languag

[2022-07-26 14:23] davanstrien commented on #53
@shamikbose, thanks for that, I've loaded this successfully now. Do you want to migrate it to the BigLAM org? I will make a few small suggestions in a PR.

[2022-07-26 14:32] shamikbose commented on #53
Yeah, I can move it to BigLAM. Once the other files are available, I can add the values for the fields `government_posts` and `opposition_posts`

[2022-07-26 14:46] giganttheo commented on #69
Yeah you are right.
I just sent an email to the contact adress from the website, to ask for a mirror or a special authorization to use a scraping tool.
I'll update this if I have a response.

[2022-07-26 14:51] davanstrien commented on #69
Thanks! would be great to have this available so hopefully they are keen :)

[2022-07-26 15:18] davanstrien commented on #53
@shamikbose awesome, thanks!

[2022-07-26 19:36] shamikbose commented on #68
For this dataset, I was thinking of using a structure as follows:

|extract_id|text|target|annotator_responses|
|---|---|---|---|
|H-99|Hollandsche IJzeren Spoorweg-Maatschappij een vijftal rijtuigen, 𝙜𝙚𝙢𝙚𝙣𝙜𝙙 eerste en tweede klasse, die zóó schoon zijn afgewerkt, dat zij m|gemengd| [{annotator_id: [response, suggestion]}]

Does this work, @davanstrien?
P.S. As a person who does not speak Dutch, i

[2022-07-26 19:48] davanstrien commented on #68
I think that makes sense. We could do some processing to generate an annotator agreement score, but I think this is up to the end user to decide how to do this.

The only thing I was going to suggest was putting the column names in English, but I think you already worked those all out. I was just about to check the possible responses but they seem to have been translated already

I think we could

[2022-07-26 19:51] shamikbose commented on #68
I could do both. Make two columns `annotator_response_english` and `annotator_response_dutch`. It's only a matter of creating a mapping. Depending on who's using the dataset, they can use the approporiate column

[2022-07-26 20:22] davanstrien commented on #68
That sounds good :)

[2022-07-26 22:10] shamikbose commented on #68
@davanstrien https://huggingface.co/datasets/shamikbose89/contentious_contexts

[2022-07-27 08:22] giganttheo commented on #69
Update, I received a response from the webmaster:

  Thank you for your interest in [oldbookillustrations.com](http://oldbookillustrations.com/).  We do indeed restrict bulk downloads, simply because we're on fairly cheap hosting and are concerned the server might not withstand the strain of full-on pounding that's often involved in site-scraping.    Having said that, I have no objection to allowi

[2022-07-27 08:28] davanstrien commented on #69
Awesome, the only other I would check is that when you download the images we can get sufficient metadata for each image to verify the licence/copyright. What information is downloaded at the moment?

[2022-07-27 08:45] giganttheo commented on #69
We have access to:
the artist name (of the illustration), the engravers, the book and author (of the book), as well as the source of the illustration, and the Open Library record. For instance, you can check this page: https://www.oldbookillustrations.com/illustrations/pula-temple-augustus/

All the information that is shown on this page can be scraped. (I prefer scraping the page than downloading

[2022-07-27 08:53] giganttheo commented on #69
The source reads:

The New York Public Library believes that this item is in the public domain under the laws of the United States, but did not make a determination as to its copyright status under the copyright laws of other countries.

[2022-07-27 08:57] davanstrien commented on #69
Great that looks good. I think if we can include the source information/URL that would be great. My own preference would also to be include as much information as possible for each image since it may be useful for someone working with the data WDYT?

[2022-07-27 11:38] davanstrien commented on #53
I made a few minor fixes but I think this LGTM. If we get the other data, we can include that later on. Thanks again for working on this @shamikbose :)

[2022-07-27 11:38] #53 closed

[2022-07-27 16:44] davanstrien opened #71 "Add dataset: odeuropa_smell_objects"
### A URL for this dataset

https://doi.org/10.5281/zenodo.6367776

### Dataset description

From the Zenodo page:

It contains bounding box annotations for smell-active objects in historical artworks gathered from various digital connections.
The smell-active objects annotated in the dataset either carry smells themselves or hint at the presence of smells.
The dataset provides 15484 bounding boxe

[2022-07-27 16:44] davanstrien commented on #71
Happy to help anyone who wants to work on this. I have a WIP loading script for another COCO formatted dataset: https://huggingface.co/datasets/biglam/nls_chapbook_illustrations

[2022-07-27 16:45] davanstrien commented on #71
Also, I really want to call this dataset `smelly_objects`...

[2022-07-27 17:13] davanstrien commented on #68
Is this ready for review? I had a quick look, and all looks good so far. Do you want to move across to BigLAM org? I'll maybe just add a section in the datacard on suggested ways of processing the annotations to give people some starting points for approaching that.

[2022-07-27 17:34] shamikbose commented on #68
Yes, it's #ready-for-review Sorry I forgot to add the tag

[2022-07-27 17:34] shamikbose commented on #68
#ready-for-review

[2022-07-27 17:40] davanstrien commented on #68
No worries, I'll take a look at this tomorrow (and try and catch up with the others too!)

[2022-07-27 17:53] shamikbose commented on #68
No problem! I am going to be away for two weeks starting next week, but I'll take a look at any issues as soon as I'm back. Hopefully, I can build a few more dataloaders before I leave

[2022-07-27 17:57] shamikbose commented on #71
I'd love to work on this! Will be a good change from the text datasets so far. #self-assign

[2022-07-27 17:57] shamikbose commented on #71
#self-assign

[2022-07-27 18:10] davanstrien commented on #71
Awesome, and don't worry if you can't finish this before you go away. It can wait until you're back too 🙂

[2022-07-27 20:45] shamikbose commented on #71
Hopefully, I should be able to get it done. From the Zenodo page:

Should the dataset just contain the links to the images then?

[2022-07-27 21:20] davanstrien commented on #71
Yes I think that would be best for this one. We can provide example code for downloading the images in the datacard.

[2022-07-27 23:22] nabsiddiqui opened #72 "Add dataset: biodiversity_heritage_library"
### A URL for this dataset

https://www.flickr.com/photos/biodivlibrary/

### Dataset description

Dataset of images uploaded from the Biodiversity Heritage Library hosted at the Smithsonian Institution. Useful for [GANs](https://blog.cogapp.com/this-bird-illustration-does-not-exist-88ca14229dd3), understanding the history of biodiversity, understanding changing aesthetic values over time, etc.

#

[2022-07-28 08:48] giganttheo commented on #69
This night, I scraped the pages from the website, by following the restrictions agreed upon. This is the resulting dataset, stored on the hub: https://huggingface.co/datasets/gigant/oldbookillustrations_2

Do you think any other information might be interesting? There is most of the data from the pages, with the urls, and the sources.

If that's ok for you, I can add it to the BigLAM org, and crea

[2022-07-28 10:34] davanstrien commented on #72
Sorry for coming to this discussion bit late. My preference would be to include the tags/descriptions generated by cataloguers/Flickr users rather than add labels output from a generic ML model.

For example, this image https://www.flickr.com/photos/biodivlibrary/7268619716/in/photolist-2kM8xSd-9vVsjU-2kM8xXD-XGMoPR-2kF7kHZ-wnaCYy-2jAiBTp-bu7ij8-c5izpA-bvSk4u-atGxWy-atDT9z-aUT4DB-atGxQS-akH6mL-d9s

[2022-07-28 13:15] nabsiddiqui commented on #72
@davanstrien That makes sense. It turns out my ISP has a limit on downloading so I can't download all the images. @MikeTrizna will have to upload them.

I think what @MikeTrizna has is the metadata of the files, which include the EXIF data along with some Flickr API stuff. I will go ahead and clean that data up and make it a CSV file. I'll put the results here.

In terms of memespector. There are

[2022-07-28 14:11] MikeTrizna commented on #72
I don't think I ever mentioned that I would be uploading EXIF data, and as @davanstrien  showed above it is superfluous to the tags and information provided directly through Flickr. And Daniel thanks for the clarification on the model-generated labels. I agree that it makes sense to leave those out, since they can always be re-generated separately as new and better models are released.

A quick qu

[2022-07-28 14:15] MikeTrizna commented on #72
Oh, and @nabsiddiqui, where did you get the "Creative Commons Attribution Non Commercial Share Alike 4.0 International" license information that you show above? I haven't checked through all of the images, but it was my understanding that they are all marked as [https://creativecommons.org/publicdomain/mark/1.0/](https://creativecommons.org/publicdomain/mark/1.0/). But if you saw somewhere in the

[2022-07-28 14:23] shamikbose commented on #72
For multiple metadata tags, you could put it in a list/other iterable in
the schema and it should be fine

On Thu, Jul 28, 2022 at 10:11 AM Mike Trizna ***@***.***>
wrote:

--

*-Regards,  Shamik Bose*

[2022-07-28 14:27] nabsiddiqui commented on #72
@MikeTrizna I looked at the script that you had. The keywords, tags, etc. that I believe you have are copies of the EXIF data but they have additional metadata such as "ispublic" etc from the FlickrAPI. I am using the same thing and am cleaning the data up a bit so that it is easier to work with. For instance, the page information in the "keywords" Iv made into a separate column called "page". Hop

[2022-07-28 14:31] davanstrien commented on #72
In the actual dataset you can have nested data/sequences so it could look something like:

| image | width | height | tags |
|------|--------|------|------ |
| image1.jpg| 200| 100| ["bird of paradise", "botany"]

This also makes it a bit easier to deal with tags of different lengths etc.

This is for example how the annotations are stored in this dataset: https://huggingface.co/datasets/biglam/nl

[2022-07-28 14:34] MikeTrizna commented on #72
@nabsiddiqui, thanks for pointing out that copyright page. That's the exact info I was looking for. I don't think I pulled down the image-level copyright status with my download, but I can go back and get that. If a large majority are public domain, we might be better off filtering to those so that we can label the whole dataset as such.

[2022-07-28 14:36] cakiki commented on #33
Initial commit here: https://huggingface.co/datasets/biglam/archives_parlementaires_revolution_francaise

TODO: yaml header and documentation.

@kmcdono2 Feel free to start documenting! Will start working on loading scripts soon.

Still want to check the processed version of the PNAS paper: https://github.com/CogentMentat/FRevNCA_CuratedData

[2022-07-28 14:58] davanstrien commented on #70
Thanks so much for that @stefan-it. @bmschmidt @stefan-it, my suggested next step is to start with the smallest dataset from that dump to get to a format we're happy with. This will likely involve starting from the ALTO XML.

I think between us we probably all have some code for doing the ALTO XML parsing, as a starting point, I suggest we share that code (either linking here or adding a pull requ

[2022-07-28 14:58] nabsiddiqui commented on #72
@davanstrien yes. What you are describing is what I am working on doing. It requires extracting the tags from the JSON and cleaning it up. There are non-tags in the tags section so there are some errors that I have to go through and it is about 300k files.

@MikeTrizna I'm fine with doing that but don't know how we would filter it.

[2022-07-28 15:04] cneud commented on #70
Hi, just to briefly chime in (I hope I can devote more time to this tomorrow) - I have a lot of background info, provenance and documentation about these datasets. While I am not passionate about the data formatting, I would appreciate a lot if this information can somehow be integrated with the dataset (e.g. as a simple README.txt), as I often get questions about this and I believe there is a lot

[2022-07-28 15:09] davanstrien commented on #70
That would be great — one option would be to include this in the datacard? We could also include it as part of the dataset too.

It would also be great to have any context for this data. If you think there is anyone in particular at Europeana who would be good to keep in the loop about this work, let me know.

[2022-07-28 15:11] MikeTrizna commented on #72
In checking out the example that @davanstrien linked, I noticed that the files are being pulled directly from NLS servers. I'm sure that the data custodians at BHL would be more amenable to directly serving these files from BHL servers (or the [Smithsonian FigShare](https://smithsonian.figshare.com/) repo) to show a little bit more "ownership". I am in discussions to meet with the BHL data manager

[2022-07-28 15:14] cneud commented on #70
Good suggestion, but indeed I wonder if the datacard will always be distributed with the data? If not, a simple README.txt might be more suitable perhaps?

Well, that would mainly be me as I was coordinator of the project where the data was produced :) I have also been working with/been in contact with ~20-30 researchers/initiatives that used this dataset, created subsets and derivatives etc which

[2022-07-28 15:16] nabsiddiqui commented on #72
Sounds good. I just have the script for the JSON file running in the background. I'll still upload it here just in case but we can delete it if it's not needed.

I wanted to practice using the Flickr API anyway.

[2022-07-28 15:26] davanstrien commented on #70
Perfect! If you have time I'm happy to set up a meeting to discuss an approach that also works from the Europeana side?
Would also be good to hear about any similar efforts, definitely don't want to duplicate existing work.

[2022-07-28 15:46] cneud commented on #70
Great! I don't want to overload this with things from the past, but I think this would present a great opportunity to capture and document some of the background and context that have been sitting in my head/inbox/fragmented over multiple project websites for a while. Should we try to find a suitable date/time via email?

[2022-07-28 15:58] davanstrien commented on #69
This looks amazing! Happy for you to move to the BigLAM org -- let me know if you want any help with the dataset card.

[2022-07-28 16:12] davanstrien opened #73 "Add a size category to the dataset suggestion form"
Add a set of options for dataset size to give people a better sense of what is involved in working with a dataset.

[2022-07-28 16:32] davanstrien commented on #70
That sounds good, I'll drop you an email.

[2022-07-28 17:55] davanstrien commented on #68
I made a few minor suggested changes in a PR here https://huggingface.co/datasets/biglam/contentious_contexts/discussions. I'll make a separate PR for some suggestions for the datacard.

[2022-07-28 19:54] davanstrien commented on #60
#ready-for-review

[2022-07-28 22:17] davanstrien commented on #67
#self-assign

[2022-07-29 12:33] cneud commented on #70
Perhaps some of this code could be useful/repurposed:
* [`alto_tools.py`](https://github.com/cneud/alto-tools/blob/master/alto_tools.py)
* [`alto4pandas.py`](https://github.com/qurator-spk/mods4pandas/blob/master/qurator/mods4pandas/alto4pandas.py)
* [stylesheets to convert from ALTO to different formats](https://github.com/cneud/ocr-conversion#alto)

[2022-07-29 13:20] cneud commented on #70
Some initial input for the dataset card/README:

* The dataset was produced by the project partners in the [Europeana Newspapers](http://www.europeana-newspapers.eu/) project (2012-2014)
* A subset out of the newspaper collections of 12 national and university libraries from Europe was selected for the project. Some background on the selection criteria is available in [D-2.1_Dataset_for_refinement

[2022-07-29 13:34] stefan-it commented on #70
Hi @cneud , many thanks for that list!

I have one question left : was there any re-ocr done in the past years?

[2022-07-29 13:42] cneud commented on #70
Unfortunately no. We are currently finalizing a report where we compare the old OCR quality with the performance that can be achieved with state-of-the-art neural OCR/layout analysis methods (such as e.g. our [eynollah](https://github.com/qurator-spk/eynollah)) and I can already say that the quality improvements by re-OCRing would be major (~80-90% reduction of errors). Europeana has already decid

[2022-07-29 13:53] cneud commented on #70
Here is a quick mapping from Europeana Dataset IDs to content providers

|  europeana-ID  | library |
|---|---|
| 9200359  | [National Library of the Netherlands](https://www.europeana.eu/en/collections/topic/18-newspapers?page=1&qf=DATA_PROVIDER%3A%22National%20Library%20of%20the%20Netherlands%22&api=fulltext)  |
| 9200356 | [National Library of Estonia](https://www.europeana.eu/en/collections/to

[2022-07-29 14:07] #73 closed

[2022-07-29 15:08] nabsiddiqui opened #75 "Add dataset: us_national_archives_flickr"
### A URL for this dataset

https://www.flickr.com/photos/usnationalarchives
### Dataset description

Dataset of images from the US National Archives, largely taken from the Women's Bureau and the Environmental Protection Agency. More information can be found in the About section of the Flickr page along with the FAQ on the National Archive's website: https://www.archives.gov/social-media/flickr-f

[2022-07-30 11:04] davanstrien commented on #75
Is this a duplicate of #72?

[2022-07-30 13:56] nabsiddiqui commented on #75
Sorry I wrote the title wrong. No it isn't a duplicate. These are images by the US National Archives. They are also on Flickr. I don't know if I can change the title. Can you change it or recreate the issue with the correct title? I'm not at my computer.

[2022-07-30 14:58] davanstrien commented on #75
I've updated the title, think you should also be able to modify it if needed.

[2022-07-31 21:05] shamikbose commented on #71
@davanstrien This dataset has a lot of associated metadata
[code]
Should they all be included in the dataset? Most of them are missing, from a cursory glance at the data. `Current Location`, `Earliest Date`, `Latest Date`, `Genre`, `Material` and `Medium` are populated for most of the images. I was thinking some of the fields like `Material` and `Medium` could be used for classification, maybe

[2022-08-01 10:02] davanstrien commented on #71
My own feeling would be to include as much as possible. One option if things are often missing would be to put some of this metadata in an additional metadata column as a dictionary? This way it doesn't get lost but also is slightly less distracting than having a lot of columns with mostly missing data?

[2022-08-01 14:47] davanstrien commented on #70
Notes for discussion:

- Background documentation
- Are ALTO formats consistent across collections?
- What to document
- Target output format: jsonl.gz, arrow?
- What to include in target output (metadata + content)
- how to split between files and/directories

Info to include for each page:

[code]

[2022-08-01 16:01] stefan-it commented on #70
@davanstrien I will investigate some of issues that have multiple languages in the `dc:language` field (resulting in array as data type)

[2022-08-01 20:34] cneud commented on #70
Within Europeana Newspapers, all OCR xml files are consistent, in that they are all using ALTO schema [version 2.0](https://github.com/altoxml/schema/blob/master/v2/alto-2-0.xsd).

This part should be identical for most files and could also be documented on global dataset level. If there are any different entries though, this would allow identifying pages that were also processed with article sepa

[2022-08-02 02:01] shamikbose commented on #71
Yeah, I was building out the features as follows:
[code]
I'll probably get back to this in about two weeks, after I come back from vacation

[2022-08-02 08:36] davanstrien commented on #71
Have a great vacation!

[2022-08-04 12:49] adikeinan opened #76 "Add dataset: [arabic_htr_groundtruth]"

[2022-08-04 13:05] davanstrien commented on #76
@adikeinan, thanks for suggesting thi!  I just realised the dataset suggestion template was broken (it should be fixed now). Is it this dataset: https://bl.iro.bl.uk/collections/ffab19f8-e9b7-485c-a7c3-64aba143be9c?locale=en. I'll open a new issue for this using the template if os.

[2022-08-04 13:42] adikeinan commented on #76
Yes it is! It's well described there, but let me know if you need any additional details. Thanks!

[2022-08-04 15:51] davanstrien commented on #70
@bmschmidt @cneud @stefan-it

Just to let you know, I am currently putting some processing code together for this. I'm essentially Frankensteinining the code you all shared already.  I'll hopefully have something to share tomorrow.

[2022-08-05 09:29] #60 closed

[2022-08-05 12:18] stefan-it commented on #70
Hi @davanstrien , I prepared a GIST that shows how to parse metadata information.

You basically just need to download the zip archives, there's no need to unpack them (it is all done in-memory):

https://gist.github.com/stefan-it/2b9b04caad3fd1d3ec94e5f1456cbd63

There are two examples:

* issue per year distribution for German and French issues
* Extract all issue ids and metadata for issues wit

[2022-08-05 12:51] davanstrien commented on #70
Thanks for this, @stefan-it. I have the alto parsing done (adapting code from @cneud) but feel free to share if it's ready anyway :)  For the metadata, I'm currently getting this via the API (adapting @bmschmidt's code).

I will check to see how different these two sets of metadata are for an item. I assume the API should hold fresher metadata in theory, but I don't know how much of a difference t

[2022-08-05 12:51] davanstrien commented on #70
I'm shocked you don't speak `==` 😜

[2022-08-05 13:04] davanstrien commented on #70
Example of metadata from dump:

[code]

[2022-08-05 13:23] ymaurer opened #79 "bnl_ground_truth_newspapers_before_1878"
### A URL for this dataset

https://data.bnl.lu/data/historical-newspapers/

### Dataset description

33.000 transcribed text lines from historical newspapers (before 1878) along with the cropped images of the original scans

Text line based OCR
19.000 text lines in Antiqua
14.000 text lines in Fraktur
Transcribed using double-keying (99.95% accuracy)
Public Domain, CC0 (See copyright notice)
Best

[2022-08-05 14:28] ymaurer commented on #79
I transformed the original dataset slightly into jsonl and tared the images

(https://huggingface.co/ymaurer/bnl_ground_truth_newspapers_before_1878)

[2022-08-05 15:33] davanstrien opened #80 "Add dataset: distantreader"
### A URL for this dataset

http://library.distantreader.org/

### Dataset description

### Dataset modality

Text

### Dataset licence

_No response_

### Other licence

_No response_

### How can you access this data

Other

### size of dataset

_No response_

### Confirm the dataset has an open licence

- [X] To the best of my knowledge, this dataset is accessible via an open licence

### Conta

[2022-08-05 15:34] davanstrien commented on #80
@ericleasemorgan I thought we could use this issue to discuss further best approach for this dataset :)

[2022-08-05 15:47] davanstrien commented on #80
I'll try and take a closer look at this again next week but some initial thoughts below:

This would be one way of managing this. I think it depends a little bit on how you think a user might be likely to interact with this dataset. Since you already support quite a few ways of working with the existing collections using your library, it probably doesn't make sense to recreate this behaviour.

It

[2022-08-05 16:02] bmschmidt commented on #70
@albertvillanova does the Huggingsets datasets API support any standards for rich descriptions like this in the arrow metadata, at either the file or recordbatch level? It seems like a shame to throw it away. I've had on the back burner for a while a scheme to get ML people using the column description format of the [W3C's CSV on the web spec](https://www.w3.org/TR/tabular-data-primer/), which is

[2022-08-05 16:06] bmschmidt commented on #70
@davanstrien Thanks for tackling all this. One small note--all the metadata I could find was of the form`'dc:title': 'Vorarlberger Zeitung - 1850-01-15'`, but I think for typical use cases it's important to drop the date information from that field (which is captured in `dcterms:issued`) from the back of the title to allow more regular filtering.

[2022-08-05 18:15] davanstrien commented on #70
My current plan was to parse some fields that we consider particularly useful with a big of additional validation and then to shove some other metadata (the full extent is still up for discussion) either into flattened columns or into a bit of a generic metadata dump column. I'm hoping to have a proper draft of this ready on Monday. I'll ping you @cneud @stefan-it to discuss the output

[2022-08-05 19:39] ymaurer commented on #79
Moved the dataset to the biglam organisation
[biglam/bnl_ground_truth_newspapers_before_1878](https://huggingface.co/biglam/bnl_ground_truth_newspapers_before_1878)

[2022-08-06 09:13] davanstrien commented on #67
#ready-for-review

[2022-08-06 09:43] davanstrien commented on #67
I've implemented this dataset via a loading script: https://huggingface.co/datasets/biglam/yalt_ai_tabular_dataset.
The original dataset includes a YOLO formatted version. I've included two configs:

- YOLO
- COCO

I included the COCO config because, at the moment, some libraries prefer/expect this format, including the transformers object detection feature extraction classes (e.g. Detr) https://g

[2022-08-07 02:27] nabsiddiqui commented on #75
@davanstrien Can you add this to the project board so I can claim it and upload it? I have the images and metadata downloaded and cleaned now: https://github.com/orgs/bigscience-workshop/projects/8/views/1?query=is%3Aopen+sort%3Aupdated-desc

[2022-08-07 02:35] nabsiddiqui commented on #75
#self-assign

[2022-08-07 14:02] davanstrien commented on #79
I think this got created as a model, so I've just moved it to a dataset. I think it could also be good to write a loading script for this to make the data easier to load using the `datasets` library. I'll hopefully have some time to help with that later this week.

[2022-08-07 20:41] davanstrien opened #81 "Add dataset: Multilingual_named_entity_recognition_for_medieval_charters"
### A URL for this dataset

https://doi.org/10.5281/zenodo.6463699

### Dataset description

Annotated dataset for training named entities recognition models for medieval charters in Latin, French and Spanish.

### Dataset modality

Text

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access this data

As a download from a rep

[2022-08-09 11:02] davanstrien commented on #70
A quick update on this:

I have some semi-working code with some rough edges here (https://github.com/davanstrien/altoxml2dataset).

Currently, the code:
- parses the text from the ALTO XML
- gets the word confidence and calculates a mean and standard deviation for each page
- gets the bounding boxes for any illustrations contained on the page.

I'm currently parsing the metadata from the XML meta

[2022-08-09 16:12] cneud commented on #70
...calling Europeana's @hugomanguinhas - any ideas or suggestions?

[2022-08-10 18:19] hugomanguinhas commented on #70
Even though the images are being served via an Europeana domain (via our gateway)... they are actually hosted by the technical partner (PSNC) in the Europeana Newspapers project and the URLs are based on the eCloud infrastructure which has a very complex naming and versioning system.... this is something we dont control and I do agree that the URLs seem unnecessarily long and also make our IIIF ou

[2022-08-11 17:18] davanstrien commented on #66
#self-assign

[2022-08-12 07:43] davanstrien opened #82 "Add dataset: Rijksmuseum Challenge 2014"
### A URL for this dataset

https://figshare.com/articles/dataset/Rijksmuseum_Challenge_2014/5660617

### Dataset description

This dataset includes ~96424 images from the Rijksmuseum with associated metadata. In the paper introducing the dataset, the following challenges were covered:

- Challenge 1: Artist Classification
- Challenge 2: Categorization into Types
- Challenge 3: Labeling of Materia

[2022-08-12 09:51] davanstrien commented on #70
@bmschmidt @cneud @hugomanguinhas thanks all; I will try and find time to work on this a bit more next week. I hope to have an initial version of the full output to review by then.

[2022-08-15 12:44] davanstrien commented on #57
Thanks for working on this, and apologies for taking so long to look at it. At the moment, I get an error when I try and load this dataset:
`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfc in position 8531: invalid start byte`

I didn't look into the cause yet but let me know if you want me to take a look at this too.

[2022-08-16 10:49] thebooort commented on #42
Hi @shamikbose  I have a version of this dataset in huggingface (sorrry for the late reply!)
https://huggingface.co/datasets/thebooort/spanish_golden_age_sonnets
I added the datacard info too. so it may be ready for review!
Also @davanstrien  let me know if I should change anything or make anything in a different way (should i transfer it to Biglam ORG already or wait till the corrections/changes?

[2022-08-16 10:49] thebooort commented on #42
#self-assign

[2022-08-16 10:49] thebooort commented on #42
#ready-for-review

[2022-08-17 10:57] davanstrien commented on #42
@thebooort, thanks for working on this!

Happy for you to transfer this over to the BigLAM organization. I will make a pull request with some suggestions for the README, but this looks great otherwise.

[2022-08-17 11:02] davanstrien commented on #66
I will close this for now and reopen it if it needs more significant changes in the future. I have implemented this in a data loading script (https://huggingface.co/datasets/biglam/yalta_ai_segmonto_manuscript_dataset) which is very similar to the script created for #67

[2022-08-17 11:02] #66 closed

[2022-08-17 11:03] davanstrien commented on #67
Closing this, for now, will reopen if this needs more significant work.

[2022-08-17 11:03] #67 closed

[2022-08-17 11:51] thebooort commented on #42
ty!  I just transferred the repository, let me know if everything is ok! (I see no preview for de dataset rn)

[2022-08-17 13:46] davanstrien commented on #42
Thanks, I just made a small pull request with some suggested changes (https://huggingface.co/datasets/biglam/spanish_golden_age_sonnets/discussions/1). If this looks okay feel free to merge (or I can also do it).

[2022-08-17 15:51] shamikbose commented on #57
@davanstrien I'm able to load this dataset without any issues. Maybe it's a Python encoding issue. I'm using Windows as my dev environment, so that might have something to do with it.

[2022-08-18 08:49] davanstrien commented on #69
Thanks so much for this. Having given this a bit more thought, I think it probably makes sense to try and filter out the items which may have copyright issues. I think the best way to do this would be to filter out based on the `artist_date` field and set a reasonably conservative threshold. My suggestion would be to push this to a new dataset and keep the other one private. This means we can use

[2022-08-18 09:25] davanstrien commented on #69
suggested approach in this notebook

[2022-08-18 09:46] davanstrien commented on #42
@thebooort thanks again for working on this :)

[2022-08-18 12:30] davanstrien commented on #57
I've opened a PR https://huggingface.co/datasets/shamikbose89/lancaster_newsbooks/discussions/1, which hopefully fixed the issue for me (running in Colab) -- could you check if it still works okay on Windows?

[2022-08-18 19:37] thebooort commented on #42
@davanstrien thanks to you and all the organisers of the hackathon! :smile:

[2022-08-22 09:51] giganttheo commented on #69
I agree that it would be nice to make sure the version we share does not have any copyright infringement issue. However, from my understanding, checking if a work is public domain might not be as straightforward as the filter you set up, since it depends on whether the work was published or not, as well as the country of origin. According to [the "public domain" Wikipedia Page](https://en.wikipedi

[2022-08-25 14:54] nabsiddiqui commented on #75
Ok I have uploaded this now.

[2022-08-27 09:34] davanstrien commented on #75
Thanks for working on this. Would you be able to add a little bit of documentation describing the dataset. Writing a full datacard would be great but even a high level summary of the data would be great so other people know what the data is, how to use it and potential biases and limitations in the collection.

[2022-08-29 14:01] nabsiddiqui commented on #75
Yes I will add some information, but this is the first week of class, so I don't know when I will be able to get to it. Hopefully by next week.

[2022-09-05 16:38] davanstrien commented on #59
Closing this one for now

[2022-09-05 16:38] #59 closed

[2022-09-10 19:37] shamikbose commented on #71
@davanstrien I'm back to working on this dataset, but it seems like the URLs aren't accessible
Example from the first image in the metadata document:
URL: http://www.sigecweb.beniculturali.it/images/fullsize/ICCD50007114/ICCD4644613_SBAS%20RM%20223305.jpg

[2022-09-12 10:29] davanstrien commented on #70
Apologies for the radio silence on this, I got busy with other things. I have blocked out some time to work on this later this week.

[2022-09-12 10:31] davanstrien commented on #71
@shamikbose hey, hope you had a good break!

I'll try and take a look at this too but also tagging @kiymetakdemir who works on this project and might be able to help with this.

[2022-09-12 10:37] davanstrien commented on #57
I think this one can probably be transferred to the BigLAM repository now?

[2022-09-12 10:46] davanstrien commented on #68
Closing this one, @shamikbose thanks so much for working on this :)

[2022-09-12 10:46] #68 closed

[2022-09-12 15:09] shamikbose commented on #57
Yeah, I just moved it

[2022-09-12 15:22] davanstrien commented on #57
Thanks for working on this one!

[2022-09-12 15:22] #57 closed

[2022-09-13 13:54] kiymetakdemir commented on #71
Hi @shamikbose, can you check it again? Now I tried to download the images with the given script but I haven't encountered any error, it downloaded successfully.

[2022-09-13 17:00] shamikbose commented on #71
@kiymetakdemir I was able to download them today. Thanks!

[2022-09-13 18:40] shamikbose commented on #56
@davanstrien @clancyoftheoverflow  Bumping this for review, if you have the bandwidth

[2022-09-15 14:21] shamikbose commented on #56
@davanstrien I already merged your changes. I had totally forgotten about the date being an available format for `datasets`. It is now formatted as a `date64` field with the format `%Y`

[2022-09-15 16:09] shamikbose commented on #71
@kiymetakdemir I get an error for this URL (http://134.76.24.240/download/07876601/flc0596164z_p?Expires=1610722060&Signature=SX15SE0B~KbZ7yvkTJtis1rsKysZddvhsxJzZSZ7oZoxqd~NNsKp22iYZGBQViGXMy7zwTDCYxu-Qan2O0aq2QxizENey~CF4WIV5-~bHwEZZjrmCoBdWDEeS0Y6XNajZ6DYzWQolxkiGWoqLs~Bw0j4GSrQef7QvgQciIWDlTE_&Key-Pair-Id=APKAJGHHKKX2FHRP63AQ) It's not accessible

[2022-09-16 17:05] davanstrien commented on #56
Awesome, this looks good to me. Thanks again!

[2022-09-16 17:05] #56 closed

[2022-09-16 17:09] davanstrien commented on #46
I will close this one for now since it seems like it will be difficult to get the data in an accessible format.

[2022-09-16 17:09] #46 closed

[2022-09-19 13:17] albertvillanova commented on #61
#take

[2022-09-27 08:37] davanstrien opened #84 "Add dataset: TexBiG"
### A URL for this dataset

https://zenodo.org/record/6885144

### Dataset description

### Dataset modality

Mixed

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### size of dataset

### Confirm the dataset has an open licence

- [X] To the best of my knowledge, this

[2022-09-27 12:55] albertvillanova commented on #61
https://huggingface.co/datasets/biglam/gallica_literary_fictions

[2022-09-27 12:55] albertvillanova commented on #61
#ready-for-review

[2022-09-27 15:37] davanstrien opened #85 "Add dataset: chronicling_america"
### A URL for this dataset

https://chroniclingamerica.loc.gov/about/api/#bulk-data

### Dataset description

Chronicling America is a Library of Congress project to digitise historic newspapers. The collection contains mostly English but also contains other languages. Breakdown by language: https://public.tableau.com/app/profile/chronicling.america#!/vizhome/ChroniclingAmericaLanguageCoverageBubb

[2022-09-27 16:00] davanstrien opened #86 "Add dataset: french_fiction_16_18th_century"
### A URL for this dataset

https://zenodo.org/record/5770866

### Dataset description

### Dataset modality

Text

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### size of dataset

500MB-2GB

### Confirm the dataset has an open licence

- [X] To the best of my knowl

[2022-09-27 18:48] davanstrien opened #87 "Add dataset: Berlin_State_Library_extracted_illustrations"
### A URL for this dataset

https://zenodo.org/record/2602431

### Dataset description

### Dataset modality

Image

### Dataset licence

Creative Commons Attribution 4.0 International

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### size of dataset

### Confirm the dataset has an open licence

- [X] To the best of my knowledge, this

[2022-09-30 07:30] davanstrien commented on #61
This looks great; thanks for working on this :) I really liked how you used the Zenodo API to generate the URLs. I will do a little tweet about that!

[2022-10-11 08:02] davanstrien commented on #68
That sounds good 🙂

On Tue, 26 Jul 2022, 20:51 Shamik Bose, ***@***.***> wrote:

[2022-10-17 12:08] davanstrien commented on #45
Whilst this dataset should be fairly easy to add to the datasets hub, it is quite large, so you should be aware of this.

[2022-10-18 10:48] cakiki opened #90 "Add dataset: gutenberg_poetry_corpus"
### A URL for this dataset

https://github.com/aparrish/gutenberg-poetry-corpus

### Dataset description

Will be useufl for computational poetry

### Dataset modality

Text

### Dataset licence

Creative Commons Zero v1.0 Universal

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### size of dataset

<500MB

### Confirm the dataset has

[2022-10-18 10:49] cakiki commented on #90
Dataset has been added here: https://huggingface.co/datasets/biglam/gutenberg-poetry-corpus

TODOS
- [x] complete the dataset card

- [ ] crossreference the gutenberg ID column to actual metadata (Optional)

cc @davanstrien

[2022-10-24 19:45] davanstrien commented on #70
I finally have the start of a suggested approach for this dataset. The dataset can be found here: https://huggingface.co/datasets/biglam/europeana_newspapers.

This repo includes a sample of parquet files with text and some metadata organised by language and decade i.e. `language-decade.parquet`.

There is also a loading script which allows you to load a subset of this data either using an existin

[2022-10-25 15:14] cneud commented on #70
Thank you @davanstrien! It would be awesome if one could also load subsets e.g. based on their OCR confidence, but since this information is not included in the Europeana metadata but only in the ALTO files I don't think it can be done so easily.

Generally I agree that due to different interests and also size constraints, offloading the fetching of additional metadata to the use of the Europeana

[2022-10-26 19:40] davanstrien commented on #70
There would be a way to filter by ocr confidence as part of the loading script but this would still involve downloading all of the data before then so probably isn't worth it. It might also end up being more efficient to do it once the dataset is loaded since you can then also use multiprocessing i.e. something like

[code]

That would be great, I'll make a start on that soon!

[2022-10-27 10:54] davanstrien commented on #32
#self-assign

[2022-10-27 11:15] davanstrien commented on #32
Initial version here: https://huggingface.co/datasets/biglam/v4design_europeana_style_dataset

I will add some additional documentation to this dataset shortly but will prioritise getting some other datasets completed first!

[2022-10-27 11:15] #32 closed

[2022-10-28 09:57] davanstrien commented on #45
#self-assign

[2022-10-31 12:55] davanstrien opened #91 "Add dataset: dataset_of_european_art"
### A URL for this dataset

https://zenodo.org/record/6984525#.Y1VSV7bP2F4

### Dataset description

### Dataset modality

Image

### Dataset licence

Creative Commons Attribution Non Commercial Share Alike 4.0 International

### Other licence

_No response_

### How can you access this data

As a download from a repository/website

### size of dataset

### Confirm the dataset has an open licence

[2022-10-31 12:55] davanstrien commented on #91
#self-assign

[2022-11-03 19:06] loleg commented on #64
#self-assign

[2022-11-11 10:51] davanstrien commented on #64
@loleg let me know if you need any help with this :)

[2022-11-14 11:44] ymaurer opened #92 "Add dataset: [bnl_newspapers1841-1879]"
### A URL for this dataset

https://data.bnl.lu/data/historical-newspapers/

### Dataset description

630.709 articles from historical newspapers (1841-1879) along with metadata and the full text.

21 newspaper titles
24.415 newspaper issues
99.957 scanned pages
Transcribed using a variety of OCR engines and corrected using [https://github.com/natliblux/nautilusocr](https://github.com/natliblux/na

[2022-11-14 11:45] ymaurer commented on #92
I'll add it to:
https://huggingface.co/datasets/biglam/bnl_newspapers1841-1879

[2022-11-15 22:48] loleg commented on #64
Thanks for the prod @davanstrien I wanted to dig into this but got involved in other things at a recent [GLAM hackathon](https://glamhack.vercel.app). The expectation is just to add a well-documented Dataset, like [this one for example](https://huggingface.co/datasets/swiss_judgment_prediction)? Are there more specific instructions somewhere?